
    <div class="banner text-center  " style="background-color: black">
        <img src="img/app-logo.png" alt="App Logo" >
    </div>


<div class="sports row ">



    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleFoot()">
        <img src="img/football.png" alt="App Logo" width="30" :class="[showFoot==1?'sport-icon':'']"> <!-- Football icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleBask()">
        <img src="img/basketball.png" alt="App Logo" width="30" :class="[showBask==1?'sport-icon':'']"><!-- Basketball icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleCric()">
        <img src="img/cricket.png" alt="App Logo" width="30" :class="[showCric==1?'sport-icon':'']"><!-- Baseball icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleTen()">
        <img src="img/tennis_new.png" alt="App Logo" width="30" :class="[showTen==1?'sport-icon':'']"><!-- Hockey icon -->

    </div>
    <div class="col-2 text-right" v-on:click="toggleF1()">
        <img src="img/f1_new.png" alt="App Logo" width="30" :class="[showF1==1?'sport-icon':'']"><!-- Table Tennis icon -->

    </div>

</div>


    <!-- ... Your existing sports icons ... -->
    <div class="calendar-tab">
        <div class="col-2 text-center" style="flex:1">
            <button class="sports-button" :class="{'selected':showUpcoming}" v-on:click="selectUpcoming">Upcoming</button>
        </div>
    
        <div class="col-2 text-center" style="flex:1">
            <button class="sports-button" :class="{'selected':showRecent}" v-on:click="selectRecent">Recent</button>
        </div>
    </div>  

    <div class="calendarcards upcoming" v-if="showUpcoming">
            <h3><span class="nba-header" v-if="showBask">Basketball</span></h3>
            <div v-for="f in basketballUpcoming" class="scorecards-box" v-if="showBask">
                <table style="width: 100%">
                    <h7>{{f.tournament}}</h7>
                    <tr>
                        <th style="width:70px;"></th>
                        <th style="width:150px;">Team</th>
                        <th style="width:50px;"></th>
                    </tr>
                    <tr>
                        <td><img :src="f.homeImg" /></td>
                        <td>{{f.homeTeam}}</td>
                        <td>{{f.matchDate}}</td>
                    </tr>
                    <tr>
                        <td><img :src="f.awayImg" /></td>
                        <td>{{f.awayTeam}}</td>
                        <td>{{f.matchDay}}</td>
                    </tr>
                </table>
            </div>

            <h3><span class="premier-league-header" v-if="showFoot">Football</span></h3>
            <div v-for="f in footballUpcoming" class="scorecards-box" v-if="showFoot">
                <table style="width: 100%">
                    <h7>{{f.tournament}}</h7>
                    <tr>
                        <th style="width:40px;"></th>
                        <th style="width:150px;"></th>
                        <th style="width:50px;"></th>
                    </tr>
                    <tr>
                        <td><img :src="f.homeImg" /></td>
                        <td>{{f.homeTeam}}</td>
                        <td>{{f.matchDate}}</td>
                    </tr>
                    <tr>
                        <td><img :src="f.awayImg" /></td>
                        <td>{{f.awayTeam}}</td>
                        <td>{{f.matchDay}}</td>
                    </tr>
                </table>
            </div>

            <h3><span class ="cricket-header" v-if="showCric">Cricket</span></h3>
                <div v-for ="f in cricketUpcoming" class="scorecards-box" v-if="showCric">
                <table style="width: 100%" >
                  <h7>{{f.tournament}}</h7>
                  <tr>
                  <th style="width:70px;"></th>
                  <th style="width:150px;">Team</th>
                  <th></th>
                  </tr>
                  <tr>
                    <td><img :src="f.homeImg"/></td>
                    <td>{{f.homeTeam}}</td>
                    <td>{{f.matchDate}}</td>
                  </tr>
                  <tr>
                    <td><img :src="f.awayImg" /></td>
                    <td>{{f.awayTeam}}</td>
                    <td>{{f.matchDay}}</td>
                  </tr>
                </table>
              </div>

            <h3><span class="tennis-header" v-if="showTen">Tennis</span></h3>
                <div v-for="f in tennisUpcoming" class="scorecards-box" v-if="showTen">
                <table style="width: 100%">
                  <h7>{{f.tournament}}</h7>
                  <tr>
                    <th></th>
                    <th style="width:200px;"></th>
                    <th></th>
                  </tr>
                  <tr>
                    <td><img :src="f.homeImg" /></td>
                    <td>{{f.homeTeam}}</td>
                    <td>{{f.matchDate}}</td>
                  </tr>
                  <tr>
                    <td><img :src="f.awayImg" /></td>
                    <td>{{f.awayTeam}}</td>
                    <td>{{f.matchDay}}</td>
                  </tr>
                </table>
              </div>

            
        </div>

        <div class="calendarcards recent" v-if="showRecent">
            <h3><span class="nba-header" v-if="showBask">Basketball</span></h3>
            <div v-for="f in basketballRecent" class="scorecards-box" v-if="showBask">
                <table style="width: 100%">
                    <h7>{{f.tournament}}</h7>
                    <tr>
                        <th style="width:70px;"></th>
                        <th style="width:150px;">Team</th>
                        <th style="width:50px;"></th>
                    </tr>
                    <tr>
                        <td><img :src="f.homeImg" /></td>
                        <td>{{f.homeTeam}}</td>
                        <td>{{f.homeScore}}</td>
                    </tr>
                    <tr>
                        <td><img :src="f.awayImg" /></td>
                        <td>{{f.awayTeam}}</td>
                        <td>{{f.awayScore}}</td>
                    </tr>
                </table>
                <h7>{{f.winnerMsg}}</h7>
            </div>

            <h3><span class="premier-league-header" v-if="showFoot">Football</span></h3>
            <div v-for="f in footballRecent" class="scorecards-box" v-if="showFoot">
                <table style="width: 100%">
                    <h7>{{f.tournament}}</h7>
                    <tr>
                        <th style="width:70px;"></th>
                        <th style="width:150px;"></th>
                        <th style="width:50px;"></th>
                    </tr>
                    <tr>
                        <td><img :src="f.homeImg" /></td>
                        <td>{{f.homeTeam}}</td>
                        <td>{{f.homeScore}}</td>
                    </tr>
                    <tr>
                        <td><img :src="f.awayImg" /></td>
                        <td>{{f.awayTeam}}</td>
                        <td>{{f.awayScore}}</td>
                    </tr>
                </table>
                <h7>{{f.winnerMsg}}</h7>
            </div>

            <h3><span class ="cricket-header" v-if="showCric">Cricket</span></h3>
                <div v-for ="f in cricketRecent" class="scorecards-box" v-if="showCric">
                <table style="width: 100%" >
                  <h7>{{f.tournament}}</h7>
                  <tr>
                  <th style="width:70px;"></th>
                  <th style="width:150px;">Team</th>
                  <th style="width:50px;">Score</th>
                  </tr>
                  <tr>
                    <td><img :src="f.homeImg"/></td>
                    <td>{{f.homeTeam}}</td>
                    <td>{{f.homeRuns}}/{{f.homeWickets}} ({{f.homeOvers}})</td>
                  </tr>
                  <tr>
                    <td><img :src="f.awayImg" /></td>
                    <td>{{f.awayTeam}}</td>
                    <td>{{f.awayRuns}}/{{f.awayWickets}} ({{f.awayOvers}})</td>
                  </tr>
                </table>
                <h7>{{f.winNote}}</h7>
              </div>

            <h3><span class="tennis-header" v-if="showTen">Tennis</span></h3>
                <div v-for="f in tennisRecent" class="scorecards-box" v-if="showTen">
                <table style="width: 100%">
                  <h7>{{f.tournament}}</h7>
                  <tr>
                    <th></th>
                    <th style="width:200px;"></th>
                    <th style="width:15px;"></th>
                    <th style="width:15px;"></th>
                    <th style="width:15px;"></th>
                    <th style="width:15px;"></th>
                    <th style="width:15px;"></th>
                  </tr>
                  <tr>
                    <td><img :src="f.homeImg" /></td>
                    <td>{{f.homeTeam}}</td>
                    <td>{{f.homePeriod1}} </td>
                    <td>{{f.homePeriod2}}</td>
                    <td>{{f.homePeriod3}}</td>
                    <td>{{f.homePeriod4}}</td>
                    <td>{{f.homePeriod5}}</td>

                  </tr>
                  <tr>
                    <td><img :src="f.awayImg" /></td>
                    <td>{{f.awayTeam}}</td>
                    <td>{{f.awayPeriod1}} </td>
                    <td>{{f.awayPeriod2}}</td>
                    <td>{{f.awayPeriod3}}</td>
                    <td>{{f.awayPeriod4}}</td>
                    <td>{{f.awayPeriod5}}</td>
                  </tr>
                </table>
                <h7>{{f.winnerNote}}</h7>
              </div>

    </div>


    <!-- Start of Navigation Section -->
<div class="navigation mt-4 push-to-bottom ">

    <div class="row navigation-container">
        <!-- Center align the navigation content -->

        <div class="col-2 text-center navigation-item" onclick="openWindow()">
            <i class="fas fa-newspaper" ></i> <!-- News icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openStatsWindow()">
            <i class="fas fa-list-ol"></i> <!-- Standings icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openCalWindow()">
            <i class="fas fa-calendar-alt highlighted-icon"></i> <!-- Calendar icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openScoreWindow()">
            <i class="fas fa-trophy"></i> <!-- Scores icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openUserWindow()">
            <i class="fas fa-user"></i> <!-- Scores icon -->

        </div>
    </div>
</div>
    <!-- End of Navigation Section -->
