
    <div class="banner text-center  " style="background-color: black">
        <img src="img/app-logo.png" alt="App Logo" >
    </div>
    
    
    <div class="sports row ">



    <div class="col-2 text-center" style="margin-right: 10px;">
                <img src="img/football.png" alt="App Logo" width="30" > <!-- Football icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;">
                <img src="img/basketball.png" alt="App Logo" width="30"><!-- Basketball icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;">
                <img src="img/cricket.png" alt="App Logo" width="30"><!-- Baseball icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;">
        <img src="img/tennis_new.png" alt="App Logo" width="30"><!-- Hockey icon -->

            </div>
    <div class="col-2 text-right">
                <img src="img/f1_new.png" alt="App Logo" width="30"><!-- Table Tennis icon -->

            </div>
  
    </div>


    <!-- ... Your existing sports icons ... -->
    <div class="calendar-tab row">
    <div class="col-2 text-center" style="margin-right: 169px;">
        <button class="sports-button">Upcoming</button>
    </div>
    
    <div class="col-2 text-center">
        <button class="sports-button">Recent</button>
    </div>
    </div>  


    <!-- Start of Navigation Section -->
<div class="navigation mt-4 push-to-bottom">

    <div class="row navigation-container">
        <!-- Center align the navigation content -->

        <div class="col-2 text-center navigation-item" onclick="openWindow()">
            <i class="fas fa-newspaper" ></i> <!-- News icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openStatsWindow()">
            <i class="fas fa-list-ol"></i> <!-- Standings icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openCalWindow()">
            <i class="fas fa-calendar-alt highlighted-icon"></i> <!-- Calendar icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openScoreWindow()">
            <i class="fas fa-trophy"></i> <!-- Scores icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openUserWindow()">
            <i class="fas fa-user"></i> <!-- Scores icon -->

        </div>
    </div>
</div>
    <!-- End of Navigation Section -->
