@model string
    <div class="banner text-center  " style="background-color: black">
        <img src="img/app-logo.png" alt="App Logo" >
    </div>


<div class="sports row ">



    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleFoot()">
        <img src="img/football.png" alt="App Logo" width="30" :class="[showFoot?'sport-icon':'']"> <!-- Football icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleBask()">
        <img src="img/basketball.png" alt="App Logo" width="30" :class="[showBask?'sport-icon':'']"><!-- Basketball icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleCric()">
        <img src="img/cricket.png" alt="App Logo" width="30" :class="[showCric?'sport-icon':'']"><!-- Baseball icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleTen()">
        <img src="img/tennis_new.png" alt="App Logo" width="30" :class="[showTen?'sport-icon':'']"><!-- Hockey icon -->

    </div>
    <div class="col-2 text-right" v-on:click="toggleF1()">
        <img src="img/f1_new.png" alt="App Logo" width="30" :class="[showF1?'sport-icon':'']"><!-- Table Tennis icon -->

    </div>

</div>

<!-- Start of News Section -->
<div class="news-cards mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <img src="img/news1.jpg" class="card-img-top" alt="News 1">
                <div class="card-body">
                    <h5 class="card-title">News Title 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn " style="font-size: 12px;" >Read More</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <img src="img/news2.jpg" class="card-img-top" alt="News 2">
                <div class="card-body">
                    <h5 class="card-title">News Title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn" style="font-size: 12px;">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <img src="img/news3.jpg" class="card-img-top" alt="News 3">
                <div class="card-body">
                    <h5 class="card-title">News Title 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn" style="font-size: 12px;">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of News Section -->
<!-- Start of Navigation Section -->
    <div class="navigation mt-4 push-to-bottom">
        
        <div class="row navigation-container"> <!-- Center align the navigation content -->
            
            <div class="col-2 text-center navigation-item" onclick="openWindow()">
                <i class="fas fa-newspaper highlighted-icon"></i> <!-- News icon -->
       
            </div>
        <div class="col-2 text-center navigation-item" onclick="openStatsWindow()">
                <i class="fas fa-list-ol"></i> <!-- Standings icon -->
    
            </div>
        <div class="col-2 text-center navigation-item" onclick="openCalWindow()">
                <i class="fas fa-calendar-alt"></i> <!-- Calendar icon -->
       
            </div>
        <div class="col-2 text-center navigation-item" onclick="openScoreWindow()">
                <i class="fas fa-trophy"></i> <!-- Scores icon -->
          
            </div>
        <div class="col-2 text-center navigation-item" onclick="openUserWindow()">
            <i class="fas fa-user"></i> <!-- Scores icon -->

        </div>

        </div>
    </div>
    <!-- End of Navigation Section -->
