
    <div class="banner text-center  " style="background-color: black">
        <img src="img/app-logo.png" alt="App Logo" >
    </div>
    
    
    <div class="sports row mt-4">
        
      
    
            <div class="col-2 text-center">
                <img src="img/football.png" alt="App Logo" width="30" > <!-- Football icon -->

            </div>
            <div class="col-2 text-center">
                <img src="img/basketball.png" alt="App Logo" width="30"><!-- Basketball icon -->

            </div>
            <div class="col-2 text-center">
                <img src="img/cricket.png" alt="App Logo" width="30"><!-- Baseball icon -->

            </div>
            <div class="col-2 text-center">
                <img src="img/tennis.png" alt="App Logo" width="30"><!-- Hockey icon -->

            </div>
            <div class="col-2 text-center">
                <img src="img/f1.png" alt="App Logo" width="30"><!-- Table Tennis icon -->

            </div>
  
    </div>
    
    <!-- Start of Navigation Section -->
    <div class="navigation mt-4 push-to-bottom">
        
        <div class="row navigation-container"> <!-- Center align the navigation content -->
            <div class="col-2 text-center navigation-item">
                <i class="fas fa-home"></i> <!-- Home icon -->
                <p>Home</p>
            </div>
            <div class="col-2 text-center navigation-item">
                <i class="fas fa-newspaper"></i> <!-- News icon -->
                <p>News</p>
            </div>
            <div class= "col-2 text-center navigation-item">
                <i class="fas fa-list-ol"></i> <!-- Standings icon -->
                <p>Standings</p>
            </div>
            <div class="col-2 text-center navigation-item">
                <i class="fas fa-calendar-alt"></i> <!-- Calendar icon -->
                <p>Calendar</p>
            </div>
            <div class="col-2 text-center navigation-item">
                <i class="fas fa-trophy"></i> <!-- Scores icon -->
                <p>Scores</p>
            </div>
        </div>
    </div>
    <!-- End of Navigation Section -->
