
    <div class="banner text-center  " style="background-color: black">
        <img src="img/app-logo.png" alt="App Logo" >
    </div>
    
    
    <div class="sports row ">



    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleFoot()">
        <img src="img/football.png" alt="App Logo" width="30" :class="[showFoot?'sport-icon':'']"> <!-- Football icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleBask()">
        <img src="img/basketball.png" alt="App Logo" width="30" :class="[showBask?'sport-icon':'']"><!-- Basketball icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleCric()">
        <img src="img/cricket.png" alt="App Logo" width="30" :class="[showCric?'sport-icon':'']"><!-- Baseball icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleTen()">
        <img src="img/tennis_new.png" alt="App Logo" width="30" :class="[showTen?'sport-icon':'']"><!-- Hockey icon -->

    </div>
    <div class="col-2 text-right" v-on:click="toggleF1()">
        <img src="img/f1_new.png" alt="App Logo" width="30" :class="[showF1?'sport-icon':'']"><!-- Table Tennis icon -->

    </div>

</div>
<!--div class = "scorecards">

    <img src="img/P_league.png" class="score-football" alt="Arsenal vs Sheffield United soccer game">
  <h6>Arsenal vs Sheffield United</h6>
  <p>The match will be played today at 7:30 pm</p>
   </div-->
<div class="scorecards">
  <h3><span class="premier-league-header">PRIEMERE LEAGUE</span></h3>
  <div class="scorecards-box">
    <table style="width: 100%">
      <tr>
        <th>Team</th>
        <th>Score</th>
      </tr>
      <tr>
        <td>Arsenal</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Man United</td>
        <td>1</td>
      </tr>
    </table>
  </div>

  <h3><span class="nba-header">NBA</span></h3>
  <div class="scorecards-box">
    <table style="width: 100%">
      <tr>
        <th>Team</th>
        <th>Score</th>
      </tr>
      <tr>
        <td>GSW</td>
        <td>110</td>
      </tr>
      <tr>
        <td>LAL</td>
        <td>100</td>
      </tr>
    </table>
  </div>

  <h3><span class ="cricket-header">ICC</span></h3>
  <div class="scorecards-box">
    <table style="width: 100%" >
      <tr>
        <th>Team</th>
        <th>Score</th>
      </tr>
      <tr>
        <td>Ind</td>
        <td>110/5 (50)</td>
      </tr>
      <tr>
        <td>Eng</td>
        <td>107    (30.5)</td>
      </tr>
    </table>
  </div>

  <h3><span class = "tennis-header">Tennis(Roland Garros)</span></h3>
  <div class="scorecards-box">
    <table style="width: 100%">
      <tr>
        <th>Player</th>
        <th>Score</th>
      </tr>
      <tr>
        <td>Nad</td>
        <td>7 5 7 </td>
      </tr>
      <tr>
        <td>Djo</td>
        <td>5 7 5 </td>
      </tr>
    </table>
    WINNER : RAFAEL NADAL
  </div>
</div>


    <!-- Start of Navigation Section -->
   
<div class="navigation mt-4 push-to-bottom">

    <div class="row navigation-container">
        <!-- Center align the navigation content -->

        <div class="col-2 text-center navigation-item" onclick="openWindow()">
            <i class="fas fa-newspaper "></i> <!-- News icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openStatsWindow()">
            <i class="fas fa-list-ol"></i> <!-- Standings icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openCalWindow()">
            <i class="fas fa-calendar-alt"></i> <!-- Calendar icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openScoreWindow()">
            <i class="fas fa-trophy highlighted-icon"></i> <!-- Scores icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openUserWindow()">
            <i class="fas fa-user"></i> <!-- Scores icon -->

        </div>
    </div>
</div>
    <!-- End of Navigation Section -->
