
    <div class="banner text-center  " style="background-color: black">
        <img src="img/app-logo.png" alt="App Logo" >
    </div>


<div class="sports row ">



    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleFoot()">
        <img src="img/football.png" alt="App Logo" width="30" :class="[showFoot==1?'sport-icon':'']"> <!-- Football icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleBask()">
        <img src="img/basketball.png" alt="App Logo" width="30" :class="[showBask==1?'sport-icon':'']"><!-- Basketball icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleCric()">
        <img src="img/cricket.png" alt="App Logo" width="30" :class="[showCric==1?'sport-icon':'']"><!-- Baseball icon -->

    </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleTen()">
        <img src="img/tennis_new.png" alt="App Logo" width="30" :class="[showTen==1?'sport-icon':'']"><!-- Hockey icon -->

    </div>
    <div class="col-2 text-right" v-on:click="toggleF1()">
        <img src="img/f1_new.png" alt="App Logo" width="30" :class="[showF1==1?'sport-icon':'']"><!-- Table Tennis icon -->

    </div>

</div>

<!--div class = "scorecards">

    <img src="img/P_league.png" class="score-football" alt="Arsenal vs Sheffield United soccer game">
  <h6>Arsenal vs Sheffield United</h6>
  <p>The match will be played today at 7:30 pm</p>
   </div-->
<div class="scorecards">
  
    <h3><span class="nba-header" v-if="showBask">Basketball</span></h3>
    <div v-for="f in basketballScores" class="scorecards-box" v-if="showBask">
        <table style="width: 100%">
            <h7>{{f.tournament}}</h7>
          <tr>
                <th style="width:70px;"></th>
                <th style="width:150px;">Team</th>
                <th style="width:50px;">Score</th>
          </tr>
          <tr>
              <td><img :src="f.homeImg" /></td>
            <td>{{f.home}}</td>
            <td>{{f.homeScore}}</td>
          </tr>
          <tr>
                <td><img :src="f.awayImg" /></td>
            <td>{{f.away}}</td>
            <td>{{f.awayScore}}</td>
          </tr>
    </table>
  </div>

    <h3><span class="premier-league-header" v-if="showFoot">Football</span></h3>
    <div v-for="f in footballScores" class="scorecards-box" v-if="showFoot">
    <table style="width: 100%">
       <h7>{{f.tournament}}</h7>
       <tr>
         <th style="width:70px;"></th>
         <th style="width:150px;">Team</th>
         <th style="width:50px;">Score</th>
       </tr>
      <tr>
        <td><img :src="f.homeImg" /></td>
        <td>{{f.home}}</td>
        <td>{{f.homeScore}}</td>
      </tr>
      <tr>
        <td><img :src="f.awayImg" /></td>
        <td>{{f.away}}</td>
        <td>{{f.awayScore}}</td>
      </tr>
    </table>
  </div>

  <h3><span class ="cricket-header" v-if="showCric">Cricket</span></h3>
    <div v-for ="f in cricketScores" class="scorecards-box" v-if="showCric">
    <table style="width: 100%" >
      <h7>{{f.tournament}}</h7>
      <tr>
      <th style="width:70px;"></th>
      <th style="width:150px;">Team</th>
      <th style="width:50px;">Score</th>
      </tr>
      <tr>
        <td><img :src="f.homeImg"/></td>
        <td>{{f.homeTeam}}</td>
        <td>{{f.homeRuns}}/{{f.homeWickets}} ({{f.homeOvers}})</td>
      </tr>
      <tr>
        <td><img :src="f.awayImg" /></td>
        <td>{{f.awayTeam}}</td>
        <td>{{f.awayRuns}}/{{f.awayWickets}} ({{f.awayOvers}})</td>
      </tr>
    </table>
  </div>

    <h3><span class="tennis-header" v-if="showTen">Tennis</span></h3>
    <div v-for="f in tennisScores" class="scorecards-box" v-if="showTen">
    <table style="width: 100%">
      <tr>
        <th></th>
        <th>Player</th>
        <th>Score</th>
        <th></th>
      </tr>
      <tr>
        <td><img :src="f.homeImg" /></td>
        <td>{{f.homeTeam}}</td>
        <td>{{f.homePoint}} </td>
        <td>{{f.homeScore}}</td>
      </tr>
      <tr>
        <td><img :src="f.awayImg" /></td>
        <td>{{f.awayTeam}}</td>
        <td>{{f.awayPoint}}</td>
        <td>{{f.awayScore}}</td>
      </tr>
    </table>
  </div>


    <h3><span class="f1-header" v-if="showF1">F1</span></h3>
    <div class="scorecards-box" v-if="showF1">
        <table style="width: 100%">
            <tr>
                <th></th>
                <th>Driver</th>
                <th>Time</th>
                <th>Points</th>

            </tr>
            <tr>
                <td>1</td>
                <td>Max</td>
                <td>1.05</td>
                <td>256</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Charles</td>
                <td>2</td>
                <td>300</td>
            </tr>
        </table>
    </div>
</div>


    <!-- Start of Navigation Section -->
   
<div class="navigation mt-4 push-to-bottom">

    <div class="row navigation-container">
        <!-- Center align the navigation content -->

        <div class="col-2 text-center navigation-item" onclick="openWindow()">
            <i class="fas fa-newspaper "></i> <!-- News icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openStatsWindow()">
            <i class="fas fa-list-ol"></i> <!-- Standings icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openCalWindow()">
            <i class="fas fa-calendar-alt"></i> <!-- Calendar icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openScoreWindow()">
            <i class="fas fa-trophy highlighted-icon"></i> <!-- Scores icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openUserWindow()">
            <i class="fas fa-user"></i> <!-- Scores icon -->

        </div>
    </div>
</div>
    <!-- End of Navigation Section -->
