
    <div class="banner text-center  " style="background-color: black">
        <img src="img/app-logo.png" alt="App Logo" >
    </div>
    
    
    <div class="sports row ">



    <div class="col-2 text-center" style="margin-right: 10px;">
                <img src="img/football.png" alt="App Logo" width="30" > <!-- Football icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;">
                <img src="img/basketball.png" alt="App Logo" width="30"><!-- Basketball icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;">
                <img src="img/cricket.png" alt="App Logo" width="30"><!-- Baseball icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;">
        <img src="img/tennis_new.png" alt="App Logo" width="30"><!-- Hockey icon -->

            </div>
    <div class="col-2 text-right">
                <img src="img/f1_new.png" alt="App Logo" width="30"><!-- Table Tennis icon -->

            </div>
  
    </div>






<h2>Team Standings</h2>
<table class="table table-bordered standings-table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Team A</td>
            <td>12</td>
            <td>3</td>
            <td>36</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Team B</td>
            <td>11</td>
            <td>4</td>
            <td>33</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Team C</td>
            <td>10</td>
            <td>5</td>
            <td>30</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Team D</td>
            <td>9</td>
            <td>6</td>
            <td>27</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Team E</td>
            <td>8</td>
            <td>7</td>
            <td>24</td>
        </tr>
    </tbody>
</table>
    
    <!-- Start of Navigation Section -->
<div class="navigation mt-4 push-to-bottom">

    <div class="row navigation-container">
        <!-- Center align the navigation content -->

        <div class="col-2 text-center navigation-item" onclick="openWindow()">
            <i class="fas fa-newspaper "></i> <!-- News icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openStatsWindow()">
            <i class="fas fa-list-ol highlighted-icon"></i> <!-- Standings icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openCalWindow()">
            <i class="fas fa-calendar-alt"></i> <!-- Calendar icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openScoreWindow()">
            <i class="fas fa-trophy"></i> <!-- Scores icon -->

        </div>
    </div>
</div>
    <!-- End of Navigation Section -->
