
    <div class="banner text-center  " style="background-color: black">
        <img src="img/app-logo.png" alt="App Logo" >
    </div>
    
    
    <div class="sports row ">



    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleFoot()">
                <img src="img/football.png" alt="App Logo" width="30" :class="[showFoot==1?'sport-icon':'']" > <!-- Football icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleBask()">
        <img src="img/basketball.png" alt="App Logo" width="30" :class="[showBask==1?'sport-icon':'']"><!-- Basketball icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleCric()">
        <img src="img/cricket.png" alt="App Logo" width="30" :class="[showCric==1?'sport-icon':'']"><!-- Baseball icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleTen()">
        <img src="img/tennis_new.png" alt="App Logo" width="30" :class="[showTen==1?'sport-icon':'']"><!-- Hockey icon -->

            </div>
    <div class="col-2 text-right" v-on:click="toggleF1()">
        <img src="img/f1_new.png" alt="App Logo" width="30" :class="[showF1==1?'sport-icon':'']"><!-- Table Tennis icon -->

            </div>
  
    </div>





<div class="standings-container">

<table class="table table-bordered standings-table" v-if="showFoot==-1||showFoot==1">
        <h3 v-if="showFoot==-1||showFoot==1">Premier League</h3>
        <tr>
            <th style="width:10px;"></th>
            <th></th>
            <th style="width:30px;">Team</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>P</th>
        </tr>
        <tr v-for="(f,index) in footballTable">
            <td style="width:10px;">{{index+1}}</td>
            <td><img :src="f.teamImg"/></td>
            <td style="width:30px;">{{f.teamName}}</td>
            <td>{{f.wins}}</td>
            <td>{{f.draws}}</td>
            <td>{{f.losses}}</td>
            <td>{{f.points}}</td>
        </tr>
</table>

    <div class="nbaSelect" v-if="showBask==-1||showBask==1">
        <label for="conferenceDropdown">Select Conference:</label>
        <select v-model="selectedConference" id="conferenceDropdown">
            <option value="east">Eastern Conference</option>
            <option value="west">Western Conference</option>
        </select>
        <table class="table table-bordered standings-table" v-if="selectedConference == 'east'">
            <h3 v-if="selectedConference == 'east'">Eastern Conference</h3>
        <tr>
            <th></th>
            <th></th>
            <th>Team</th>
            <th>W</th>
            <th>L</th>
            <th>GB</th>
        </tr>
        <tr v-for="(f,index) in eastBasketballTable">
            <td>{{index+1}}</td>
            <td><img :src="f.teamImg" /></td>
            <td>{{f.teamName}}</td>
            <td>{{f.wins}}</td>
            <td>{{f.losses}}</td>
            <td>{{f.gb}}</td>
        </tr>
</table>
        <table class="table table-bordered standings-table" v-if="selectedConference == 'west'">
            <h3 v-if="selectedConference == 'west'">Western Conference</h3>
        <tr>
            <th></th>
            <th></th>
            <th>Team</th>
            <th>W</th>
            <th>L</th>
            <th>GB</th>
        </tr>
        <tr v-for="(f,index) in westBasketballTable">
            <td>{{index+1}}</td>
            <td><img :src="f.teamImg" /></td>
            <td>{{f.teamName}}</td>
            <td>{{f.wins}}</td>
            <td>{{f.losses}}</td>
            <td>{{f.gb}}</td>
        </tr>
    </table>
    </div>


    <table class="table table-bordered standings-table" v-if="showCric==-1||showCric==1">
        <h3 v-if="showCric==-1||showCric==1">ICC</h3>
        <tr>
            <th></th>
            <th></th>
            <th>Team</th>
            <th>M</th>
            <th>W</th>
            <th>L</th>
            <th>NRR</th>
        </tr>
        <tr v-for="(f,index) in cricketTable">
            <td>{{index+1}}</td>
            <td><img :src="f.teamImg" /></td>
            <td>{{f.teamName}}</td>
            <td>{{f.matches}}</td>
            <td>{{f.wins}}</td>
            <td>{{f.losses}}</td>
            <td>{{f.NRR}}</td>
        </tr>
    </table>

    <table class="table table-bordered standings-table" v-if="showTen==-1||showTen==1">
        <h3 v-if="showTen==-1||showTen==1">Tennis</h3>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Points</th>
               
            </tr>
            <tr v-for="(f,index) in tennisTable">
                <td>{{index+1}}</td>
                <td><img :src="f.playerImg" /></td>
                <td>{{f.playerName}}</td>
                <td>{{f.points}}</td>
            </tr>
            
    </table>
    <table class="table table-bordered standings-table" v-if="showF1==-1||showF1==1">
        <h3 v-if="showF1==-1||showF1==1">F1</h3>
            <tr>
                <th style="width:10px;"></th>
                <th></th>
                <th>Driver</th>
                <th>P</th>
                <th>W</th>
                <th>P</th>

            </tr>
            <tr v-for="(f,index) in f1Table">
                <td style="width:10px;">{{index+1}}</td>
                <td><img :src="f.playerImg"/></td>
                <td>{{f.name}}</td>
                <td>{{f.points}}</td>
                <td>{{f.wins}}</td>
                <td>{{f.podiums}}</td>
            </tr>
    </table>
</div>
    
    <!-- Start of Navigation Section -->
<div class="navigation mt-4 push-to-bottom">

    <div class="row navigation-container">
        <!-- Center align the navigation content -->

        <div class="col-2 text-center navigation-item" onclick="openWindow()">
            <i class="fas fa-newspaper "></i> <!-- News icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openStatsWindow()">
            <i class="fas fa-list-ol highlighted-icon"></i> <!-- Standings icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openCalWindow()">
            <i class="fas fa-calendar-alt"></i> <!-- Calendar icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openScoreWindow()">
            <i class="fas fa-trophy"></i> <!-- Scores icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openUserWindow()">
            <i class="fas fa-user"></i> <!-- Scores icon -->

        </div>
    </div>
</div>
    <!-- End of Navigation Section -->
