
    <div class="banner text-center  " style="background-color: black">
        <img src="img/app-logo.png" alt="App Logo" >
    </div>
    
    
    <div class="sports row ">



    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleFoot()">
                <img src="img/football.png" alt="App Logo" width="30" :class="[showFoot?'sport-icon':'']" > <!-- Football icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleBask()">
        <img src="img/basketball.png" alt="App Logo" width="30" :class="[showBask?'sport-icon':'']"><!-- Basketball icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleCric()">
        <img src="img/cricket.png" alt="App Logo" width="30" :class="[showCric?'sport-icon':'']"><!-- Baseball icon -->

            </div>
    <div class="col-2 text-center" style="margin-right: 10px;" v-on:click="toggleTen()">
        <img src="img/tennis_new.png" alt="App Logo" width="30" :class="[showTen?'sport-icon':'']"><!-- Hockey icon -->

            </div>
    <div class="col-2 text-right" v-on:click="toggleF1()">
        <img src="img/f1_new.png" alt="App Logo" width="30" :class="[showF1?'sport-icon':'']"><!-- Table Tennis icon -->

            </div>
  
    </div>





<div class="standings-container">

<table class="table table-bordered standings-table" v-if="showFoot">
    <h3 v-if="showFoot">Premier League</h3>
    <thead>
        <tr>
            <th></th>
            <th>Team</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>P</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Team A</td>
            <td>12</td>
            <td>5</td>
            <td>3</td>
            <td>36</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Team B</td>
            <td>11</td>
            <td>5</td>
            <td>4</td>
            <td>33</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Team C</td>
            <td>10</td>
            <td>5</td>
            <td>5</td>
            <td>30</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Team D</td>
            <td>9</td>
            <td>5</td>
            <td>6</td>
            <td>27</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Team E</td>
            <td>8</td>
            <td>5</td>
            <td>7</td>
            <td>24</td>
        </tr>
    </tbody>
</table>


    <table class="table table-bordered standings-table" v-if="showBask">
        <h3 v-if="showBask">NBA</h3>
    <thead>
        <tr>
            <th></th>
            <th>Team</th>
            <th>W</th>
            <th>L</th>
            <th>S</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Team A</td>
            <td>12</td>
            <td>5</td>
            <td>3</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Team B</td>
            <td>11</td>
            <td>5</td>
            <td>4</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Team C</td>
            <td>10</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Team D</td>
            <td>9</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Team E</td>
            <td>8</td>
            <td>5</td>
            <td>7</td>
        </tr>
    </tbody>
</table>

    <table class="table table-bordered standings-table" v-if="showCric">
        <h3 v-if="showCric">IPL</h3>
    <thead>
        <tr>
            <th></th>
            <th>Team</th>
            <th>M</th>
            <th>W</th>
            <th>L</th>
            <th>NRR</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Team A</td>
            <td>12</td>
            <td>5</td>
            <td>3</td>
                <td>3</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Team B</td>
            <td>11</td>
            <td>5</td>
            <td>4</td>
                <td>3</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Team C</td>
            <td>10</td>
            <td>5</td>
            <td>5</td>
                <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Team D</td>
            <td>9</td>
            <td>5</td>
            <td>6</td>
                <td>3</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Team E</td>
            <td>8</td>
            <td>5</td>
            <td>7</td>
                <td>3</td>
        </tr>
    </tbody>
    </table>

    <table class="table table-bordered standings-table" v-if="showTen">
        <h3 v-if="showTen">Tennis</h3>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Points</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Team A</td>
                <td>12</td>
        
            <tr>
                <td>2</td>
                <td>Team B</td>
                <td>11</td>
               
            </tr>
            <tr>
                <td>3</td>
                <td>Team C</td>
                <td>10</td>
 
            </tr>
            
    </table>
    <table class="table table-bordered standings-table" v-if="showF1">
        <h3 v-if="showF1">F1</h3>
        <thead>
            <tr>
                <th></th>
                <th>Driver</th>
                <th>P</th>
                <th>W</th>
                <th>P</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Team A</td>
                <td>12</td>

            <tr>
                <td>2</td>
                <td>Team B</td>
                <td>11</td>

            </tr>
            <tr>
                <td>3</td>
                <td>Team C</td>
                <td>10</td>

            </tr>

    </table>
</div>
    
    <!-- Start of Navigation Section -->
<div class="navigation mt-4 push-to-bottom">

    <div class="row navigation-container">
        <!-- Center align the navigation content -->

        <div class="col-2 text-center navigation-item" onclick="openWindow()">
            <i class="fas fa-newspaper "></i> <!-- News icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openStatsWindow()">
            <i class="fas fa-list-ol highlighted-icon"></i> <!-- Standings icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openCalWindow()">
            <i class="fas fa-calendar-alt"></i> <!-- Calendar icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openScoreWindow()">
            <i class="fas fa-trophy"></i> <!-- Scores icon -->

        </div>
        <div class="col-2 text-center navigation-item" onclick="openUserWindow()">
            <i class="fas fa-user"></i> <!-- Scores icon -->

        </div>
    </div>
</div>
    <!-- End of Navigation Section -->
