body {
    /*background-image: url('../img/back.jpg'); /* Replace with the actual web image URL */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width:none;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: center;
    margin: 0 auto;

}

    .login-container h2 {
        margin: 0;
        padding: 0;
    }

    .login-container input {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-container button {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

.new-user-link {
    margin-top: 10px;
}

.push-to-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Center align the navigation content */
.navigation-container {
    display: flex;
    justify-content: center;
}

.navigation-item {
    text-align: center;
    margin-right:20px;
}

.banner {
    top:0;
    position:fixed;
    width:100%;
    left:0;
    height:60px;
    padding:10px;
    display:flex;
    justify-content:center;
    z-index:999;
}

.sports {
    
    padding: 20px;
    width: 100%;
    display:flex;
    left:0;
    top:60px;
    position:absolute;
    justify-content:center;
    
}

.news-cards {
    padding: 30px;
    width: 100%;
    display: flex;
    left: 0;
    top: 100px;
    position: absolute;
    justify-content: center;
    background-color:#F6F6F6;
    font-size:14px;
}

.card {
    margin-bottom: 10px;
}

.navigation {
    background-color:lightgray;
    width:100%;
    bottom:0;
    left:0;
    padding:10px;
    position:fixed;
    
}

.highlighted-icon {
    border: 2px solid #808080; /* Set the border width and color */
    border-radius: 50%; /* Create a circular border */
    padding: 5px; /* Adjust the padding as needed */
    background-color: darkgray;
}

.standings-table {
    width: 100%;
    margin: 20px 0;
}

    .standings-table th {
        background-color: #a2a7db;
        color: #fff;
        text-align: center;
    }

    .standings-table th,
    .standings-table td {
        padding: 10px;
    }

    .standings-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .standings-table tr:hover {
        background-color: #ddd;
    }