body {
    background-image: url('../img/back.jpg'); /* Replace with the actual web image URL */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

    .login-container h2 {
        margin: 0;
        padding: 0;
    }

    .login-container input {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-container button {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

.new-user-link {
    margin-top: 10px;
}
